In [30]:
from sklearn.datasets import load_iris

In [31]:
i=load_iris()

In [32]:
dir(i)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [33]:
import pandas as pd

In [34]:
df=pd.DataFrame(i.data,columns=i.feature_names)

In [35]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [36]:
df["target"]=i.target

In [37]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [38]:
x=df.drop(["target"],axis=1)

In [39]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [40]:
y=df.target

In [41]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [43]:
#model=LogisticRegression()

In [44]:
cross_val_score(LogisticRegression(),x,y)

C:\Users\91976\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

# KFold at a Glance

In [45]:
from sklearn.model_selection import KFold

In [46]:
k=KFold(n_splits=3)

In [47]:
for train,test in k.split([1,2,3,4,5,6,7,8,9]):
    print(train,test)

[3 4 5 6 7 8] [0 1 2]
[0 1 2 6 7 8] [3 4 5]
[0 1 2 3 4 5] [6 7 8]

In [48]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [49]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

# Hyper-Parameter Tuning

In [50]:
model=LogisticRegression()

In [51]:
from sklearn.svm import SVC

# GridSearchCV

In [52]:
from sklearn.model_selection import GridSearchCV

In [53]:
model=GridSearchCV(SVC(gamma="auto"),
                  {
                      "C":[1,5,10],
                      "kernel":["rbf","linear"]
                  },
                   cv=5)

# Cross Validation of an Int. value with a 'str' Value.

In [54]:
model.fit(x,y)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 5, 10], 'kernel': ['rbf', 'linear']})

In [55]:
model.cv_results_

{'mean_fit_time': array([0.05764503, 0.00959411, 0.00339847, 0.00639625, 0.00579586,
        0.00519834]),
 'std_fit_time': array([0.09932492, 0.00567564, 0.00101953, 0.00397815, 0.00160223,
        0.0014709 ]),
 'mean_score_time': array([0.00739608, 0.00419898, 0.00159836, 0.00560579, 0.005196  ,
        0.00499415]),
 'std_score_time': array([0.00571187, 0.00285638, 0.00048978, 0.00241997, 0.00231239,
        0.00303029]),
 'param_C': masked_array(data=[1, 1, 5, 5, 10, 10],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'rbf'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 0.96666667,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.96666667]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.98      , 0.98      ,
        0.97333333]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.02666667, 0.01632993,
        0.03887301]),
 'rank_test_score': array([1, 1, 1, 1, 1, 6])}

In [56]:
model.best_score_

0.9800000000000001

In [57]:
model.best_params_

{'C': 1, 'kernel': 'rbf'}

# Next Interpretation as an Example.

In [69]:
model=GridSearchCV(SVC(gamma="scale"),
                  {
                      "C":[1,3,10,15],
                      "kernel":["rbf","linear"]
                  },cv=5)

In [70]:
model.fit(x,y)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 3, 10, 15], 'kernel': ['rbf', 'linear']})

In [71]:
model.cv_results_

{'mean_fit_time': array([0.01259332, 0.01039705, 0.00479584, 0.00619359, 0.00719566,
        0.00779743, 0.0035985 , 0.00799379]),
 'std_fit_time': array([0.00751873, 0.00808649, 0.00311951, 0.00263399, 0.00444355,
        0.00426057, 0.00049031, 0.0037397 ]),
 'mean_score_time': array([0.00799689, 0.0041976 , 0.00279999, 0.00279722, 0.00540204,
        0.00499568, 0.00159888, 0.00560026]),
 'std_score_time': array([0.00603444, 0.00248152, 0.00116823, 0.00116608, 0.00233478,
        0.00303032, 0.00079843, 0.00241465]),
 'param_C': masked_array(data=[1, 1, 3, 3, 10, 10, 15, 15],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear',
                    'rbf', 'linear'],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 3, 'kernel': 'rbf'},
  {'C': 3, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 15, 'kernel': 'rbf'},
  {'C': 15, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        1.        , 0.96666667, 1.        ]),
 'split1_test_score': array([0.96666667, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 0.96666667,
        0.9       , 0.96666667, 0.9       ]),
 'split3_test_score': array([0.93333333, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.96666667, 0.96666667, 0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.96666667, 0.98      , 0.98      , 0.97333333, 0.98      ,
        0.97333333, 0.98      , 0.96666667]),
 'std_test_score': array([0.02108185, 0.01632993, 0.01632993, 0.02494438, 0.01632993,
        0.03887301, 0.01632993, 0.0421637 ]),
 'rank_test_score': array([7, 1, 1, 5, 1, 5, 1, 7])}

In [72]:
model.best_params_

{'C': 1, 'kernel': 'linear'}

In [73]:
model.best_score_

0.9800000000000001

# RandomizedSearchCV

In [79]:
from sklearn.model_selection import RandomizedSearchCV

In [83]:
model=RandomizedSearchCV(SVC(gamma="auto"),
                         {
                         "C":[1,5,10],
                         "kernel":["rbf","linear"]
                         },
                         cv=5,n_iter=3)

In [84]:
model.fit(x,y)

RandomizedSearchCV(cv=5, estimator=SVC(gamma='auto'), n_iter=3,
                   param_distributions={'C': [1, 5, 10],
                                        'kernel': ['rbf', 'linear']})

In [85]:
model.cv_results_

{'mean_fit_time': array([0.00799403, 0.0083951 , 0.00519714]),
 'std_fit_time': array([0.00404762, 0.00801085, 0.00278612]),
 'mean_score_time': array([0.00759573, 0.00199785, 0.00699844]),
 'std_score_time': array([0.00567573, 0.0010948 , 0.00399908]),
 'param_kernel': masked_array(data=['rbf', 'rbf', 'linear'],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[1, 10, 1],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'rbf', 'C': 1},
  {'kernel': 'rbf', 'C': 10},
  {'kernel': 'linear', 'C': 1}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667]),
 'split1_test_score': array([1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667]),
 'split4_test_score': array([1., 1., 1.]),
 'mean_test_score': array([0.98, 0.98, 0.98]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993]),
 'rank_test_score': array([1, 1, 1])}

In [86]:
model.best_params_

{'kernel': 'rbf', 'C': 1}

In [87]:
model.best_score_

0.9800000000000001